## Seoul Bike Sharing Demand Prediction

#### Life Cycle of Machine Learning Project
- Understanding the problem statement.
- Data Collection
- Data Checks to perform
- Exploratory Data Analysis
- Data Preprocessing
- Model Training
- Choose best model

### 1) Problem Statement
- Predict the bike count required at each hour for rental using it's multiple feature like weather conditions, time, date, holidays like so on

### 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/saurabhshahane/seoul-bike-sharing-demand-prediction
- The data consists of 14 columns and 8760 rows

#### 2.1 Import Data and Required Packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [4]:
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
import seaborn as sns 
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

##### Import the CSV Data as Pandas DataFrame

In [7]:
df = pd.read_csv('data/SeoulBikeData.csv', encoding="unicode_escape")

##### Show Top 5 Records

In [8]:
df.head()

,Date,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

##### Shape of the dataset

In [9]:
df.shape

(8760, 14)